body {
    font-family: "Raleway", Arial, sans-serif;
}

.main-content {
    display: flex;
    flex-wrap: wrap; 
    padding: 50px;
}

.admin-content {
    display: flex;
    gap: 100px; 
    margin-top: 50px;
    justify-content: center; 
    width: 100%; 
}


.admLbl-content {
    background-color: white;
    padding: 50px;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    text-align: center;
    flex: 1; 
    min-width: 300px; 
}

h2 {
    font-size: 30px;
    margin: 10px;
}

.overview p {
    font-size: 16px;
    color: #666;
}


#login-form {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
}
.login-content {
    background-color: white;
    padding: 30px;
    border-radius: 8px;
    width: 300px;
}



@media (max-width: 768px) {
    .main-content {
        padding: 20px; 
    }

    .admin-content {
        flex-direction: column; 
        align-items: center; 
    }

    .admLbl-content {
        width: 100%; 
        margin-bottom: 20px; 
    }

    h2 {
        font-size: 24px; 
    }
}
