.product img{
    aspect-ratio: 1 / 1;
    width: 50%;
    height: auto;
    /*môže byť orezaný obrazok, aby sa zachoval pomer strán*/
    object-fit: cover;
    /*prisposobenie velkosti podla volneho priestiru*/
    flex: 1 1 0;
}

.product:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.sticky-row {
    position: sticky;
    top: 5px; /* or any value like 20px */
    z-index: 1020; /* Make sure it stays above other elements */
}

.category-select {
    max-height: 150px;
    overflow-y: auto;
}