.banner {
    padding: 0;
}

.banner img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.main-content {
    display: flex;
    padding: 20px;
}

.products {
    display: flex;
    flex-wrap: wrap;
    justify-content: left; /* space-around */
    overflow-y: scroll;
    /*height: 100vh; /* Full height for scrolling */
    width: 80%;
}

.product {
    background-color: white;
    border: 1px solid #ddd;
    width: 200px;
    margin: 10px;
    padding: 15px;
    text-align: center;
    border-radius: 8px;
}

.product img {
    max-width: 100%;
    border-radius: 4px;
}

.product h3 {
    color: #333;
}

.product p {
    font-size: 14px;
    color: #777;
}

.product button {
    background-color: #8e5bf3b5;
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    width: 100%;
}

.product button:hover {
    background-color: #a57ef5b5;
}

.suggested-item{
    display: flex;
    flex-direction: column;
    padding: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    background-color: white;
    margin: 5px;
    border-radius: 4px;
    gap: 5px;
}

.suggested-item:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.suggested-item img {
    aspect-ratio: 1 / 1;
    width: 200px;
    height: auto;
    object-fit: cover;
}

.suggested-item span{
    display: block;
    text-align: center;
}



@media (max-width: 500px) {
    .main-content {
        padding: 10px;
    }

    .products {
        width: 60%; /* Allow products to fill the container on small screens */
    }

    .suggested-item {
        width: 100%; /* Full width on mobile */
        margin: 10px 0; /* More space between items */
        text-align: center;
    }

    .container {
        max-width: 60%;
        margin-left:10px;
    }

    /* Make image smaller on mobile */
    .suggested-item img {
        width: 60%; /* Adjust image size for mobile */
        height: auto;
        margin: 0 auto; /* Center the image */
    }

    .product {
        width: 10%; /* Make product containers full width */
        margin: 10px 0; /* Add space between items */
    }

    /* Make image smaller on mobile */
    .product img {
        width: 50%; /* Ensure product images are smaller */
        height: auto;
        margin: 0 auto; /* Center the image */
    }

    .product h3 {
        font-size: 18px;
    }

    .product button {
        width: 100%;
    }

    /* Mobile Header Adjustments */
    .headerContainer, .authheaderContainer {
        flex-direction: column;
        align-items: center;
        gap: 10px;
    }

    .logo img {
        height: 60px; 
    }

    .searchButtons {
        justify-content: center;
        margin-top: 10px;
    }

    .footerContent {
        display: block;
    }

}